* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "courier,arial,helvetica";
}

body {
  margin-top: 130;
  background-image: url(back.jpg);
}

h2 {
  color: antiquewhite;
  text-align: center;
  font-size: 60;
}

#today {
    font-size: 40 !important;
}

.main {
  text-align: center;
  margin-top: 50;
  margin-left: 60;
  margin-right: 60;
  width: 90%;
  height: 77%;
}

#search {
 margin-top: 90;
 font-size: 40;
 padding: 10;
 background-color: #1a1b26;
 color: #fafbff;
 border-radius: 80;
 border-style: solid;
 border-color: #fafbff;
}

#btn {
 margin-top: 80;
 font-size: 30;
 text-align: center;
 color: #fafbff;
 background-color: #1a1b26;
 padding: 13;
 border-radius: 80;
 border-style: solid;
 border-color: #fafbff;
}
